body {
  font-family:  Gill Sans Extrabold, sans-serif;/*purisa, 'comic sans', cursive;*/
}

#header {
  text-align: center;
}


.vis-timeline {
  border: 2px solid purple;
  font-family:  Gills Sans Extrabold, sans-serif; /*purisa, 'comic sans', cursive;*/
  font-size: 12pt;
  background: #ffecea; /* this is the background color of the timeline */
}

.vis-item {
  border-color: #F991A3; /* this is the color of the vertical lines of an item */
  background-color: pink; /* color of the background of a given item box */
  font-size: 15pt;
  color: purple; /* color of the text within the item boxes */
  box-shadow: 5px 5px 20px rgba(128,128,128, 0.5);
}

.vis-item,
.vis-item.vis-line {
  border-width: 3px;
}

.vis-item.vis-dot {
  border-width: 10px;
  border-radius: 10px;
}

.vis-item.vis-selected {
  border-color: green; /* vertical lines and border when clicked on */
  background-color: lightgreen; /* background of an item box when clicked on */
}

.vis-time-axis .vis-text {
  color: purple; /* color of numbers in time scale */
  padding-top: 10px;
  padding-left: 10px;
}

.vis-time-axis .vis-text.vis-major {
  font-weight: bold;
}

.vis-time-axis .vis-grid.vis-minor {
  border-width: 2px;
  border-color: pink; /* color of vertical lines in the time scale */
}

.vis-time-axis .vis-grid.vis-major {
  border-width: 2px;
  border-color: #F991A3; /* I can't find where this is */
}

